<div class="container">
    <h2>Update Profile</h2>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit','novalidate': 'novalidate' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="Update" />
    </div>
    {{ form_end(form) }}
</div>

