{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"></div>
        {% trans_default_domain 'FOSUserBundle' %}
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock  %}
